@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic');

*{
    user-select: none;
}
@font-face {
    font-family: Chalkduster;
    src: url("../static/fonts/Chalkduster.ttf");
}

/* Запрещает выделять текст user-select: none; */
* {
    user-select: none;
}

body {
    font-family: 'Chalkduster', sans-serif;
    background-color: #e6f7ff; /* Светло-голубой цвет в качестве фона */
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h2 {
    font-family: 'Chalkduster', sans-serif;
    background-color: #e6f7ff; /* Светло-голубой цвет в качестве фона */
    text-align: center;
    color: #333; /* Темно-серый цвет */
    margin-bottom: 20px;
    border-radius: 10px 100px / 120px;
}

.boards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10%;
    width: 100%;
    min-width: 30%;
    padding: 0 40px;
}

.board {
    width: 31%;
    float: left;
    margin: 1%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px; /* скругленные углы */
    transition: transform 0.2s; /* анимация при наведении */
}

.battlefield {
    margin: auto; /* центрирование таблицы */
    border-collapse: collapse; /* объединение границ */
}

.cell {
    width: 32px;
    height: 32px;
    border: 1px solid #7da7d9; /* цвет границы */
    text-align: center;
    vertical-align: middle;
    cursor: default;
    transition: background-color 0.3s; /* плавное изменение фона */
}

.cell:hover {
    background-color: #e6f2ff; /* цвет при наведении */
}

.buttons-container {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    min-width: 480px;
    padding: 0 40px;
}

.buttons {
    display: flex;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 40px;
    transform: translateY(-50%);
    z-index: 1;
    justify-content: center;
}

.buttons__item {
    height: 100%;
    background-color: white;
    color: #252525;
    font-family: 'Chalkduster', sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    margin: 5px;
    padding: 0 40px;
    cursor: pointer;
}

.buttons__item:hover {
    background: #008B8B;
    color: #FFF;
}

.buttons__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(21deg);
}

.buttons__title {
    font-family: 'Chalkduster', sans-serif;
    color: #333; /* Темно-серый цвет */
}

.buttons__title.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;  // Предотвращаетвсекликиналемент
}

img:not(:hover) {
  transition: 2s;
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
  }
img:hover {
  transition: 1s;
}

/* Images */

.bg-miss {
    background: url("img/Ships_sprites_v1.3.png");
    background-position:  -64px 0px;
    width: 32px;
    height: 32px;
    pointer-events: none;

}

.bg-hit {
    background: url("img/Ships_sprites_v1.3.png");
    background-position: -32px 0px;
    width:32px;
    height: 32px;
    pointer-events: none;
}

.bg-ship-front {
    background: url("img/Ships_sprites_v1.3.png");
    background-position: 0px -32px;
    width:32px;
    height: 32px;
    pointer-events: none;
}

.bg-ship-middle {
    background: url("img/Ships_sprites_v1.3.png");
    background-position: 0px -64px;
    width:32px;
    height: 32px;
    pointer-events: none;
}

/* Расположение корабля через js */

.ship-cell {
    background-color: goldenrod;
    pointer-events: none;
}

/* -- Drag&Drop = D&D --------------------------------------------------------------------------------------------- */
.menu-board {
    display: flex;
    flex-direction: column;  /* вертикальное направление */
    justify-content: space-between; /* равномерное распределение элементов */
    padding: 20px; /* отступы, как у h2 */
}

.menu-board h2 {
    flex-shrink: 0; /* чтобы заголовок не сжимался */
}

.ships_container {
    flex-grow: 1; /* позволяет ships_container расти и занимать доступное пространство */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f7fa; /* Светлый синий цвет фона */
    border-radius: 15px; /* Закругленные углы для контейнера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    border: 2px solid #cfd8dc; /* Серая рамка вокруг контейнера */
}

.ship {
    flex: 1;
    height: 32px;
    margin: 15px;
    background-color: goldenrod;
    transition: width 0.3s, height 0.3s;
}

.ship:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Для горизонтальной ориентации */
.ship[data-length="4"][data-ship-orientation="horizontal"] {
    width: 128px;
}

.ship[data-length="3"][data-ship-orientation="horizontal"] {
    width: 96px;
}

.ship[data-length="2"][data-ship-orientation="horizontal"] {
    width: 64px;
}

.ship[data-length="1"][data-ship-orientation="horizontal"] {
    width: 32px;
}

/* Для вертикальной ориентации */
.ship[data-length="4"][data-ship-orientation="vertical"] {
    width: 32px;
    height: 128px;
}

.ship[data-length="3"][data-ship-orientation="vertical"] {
    width: 32px;
    height: 96px;
}

.ship[data-length="2"][data-ship-orientation="vertical"] {
    width: 32px;
    height: 64px;
}

.ship[data-length="1"][data-ship-orientation="vertical"] {
    width: 32px;
    height: 32px;
}


.dotted-placeholder {
    border: 2px dashed #000;
}

.cell.ship-placed {
    background-color: navy;
}

/* Логи */

.log-message {
    font-family: 'Chalkduster', sans-serif;
    color: #333;
    margin-bottom: 5px;
    max-height: 310px;
    overflow: auto;
}

.log-message::-webkit-scrollbar {
    width: 0px;
}

.ships_container {

}

/* Drag&Drop */
.selected {
    opacity: 0.5;
}

/* -- Анимации --------------------------------------------------------------------------------------- */

/* Анимация попадания */
/* Анимация попадания */
/* Анимация попадания */
/* Анимация попадания - эффект взрыва */
/* Анимация вдавливания */
@keyframes hitAnimation {
    0%, 100% {
        filter: brightness(100%);
        transform: scale(1);
    }
    50% {
        filter: brightness(70%);
        transform: scale(0.95);
    }
}


/* Анимация промаха */
@keyframes missAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#congratulations-gif {
    display: block;
    margin: 0 auto 20px auto; /* центрирование по горизонтали и отступ снизу */
}

