<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Морской бой</title>
    <link href="{{ url_for('static', path='/css/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/matrix.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <ul class="upmenu">
          <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
        </ul>
    </header>

    <div class="content">
    <h1>Вы</h1>
        <table >
            <tr>
                <th></th>
                <th>А</th>
                <th>Б</th>
                <th>В</th>
                <th>Г</th>
                <th>Д</th>
                <th>Е</th>
                <th>Ж</th>
                <th>З</th>
                <th>И</th>
                <th>К</th>
            </tr>
            <tr>
                <th>1</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>2</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>3</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>4</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>5</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>6</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>7</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>8</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>9</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>10</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <!-- Добавьте остальные строки и ячейки аналогичным образом -->
        </table>
    </div>
    <div class="content">
     <h1>Соперник</h1>
        <table >
            <tr>
                <th></th>
                <th>А</th>
                <th>Б</th>
                <th>В</th>
                <th>Г</th>
                <th>Д</th>
                <th>Е</th>
                <th>Ж</th>
                <th>З</th>
                <th>И</th>
                <th>К</th>
            </tr>
            <tr>
                <th>1</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>2</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>3</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>4</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>5</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>6</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>7</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>8</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>9</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <tr>
                <th>10</th>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
                <td><button onclick="cellClick(this)"> </button></td>
            </tr>
            <!-- Добавьте остальные строки и ячейки аналогичным образом -->
        </table>
    </div>

    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>

        <p>&copy;2023 49/1 group | All Rights Reserved</p>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
            var clicks = 0;

            function cellClick(button) {
                if (clicks < 2) {
                    button.style.backgroundColor = "blue";
                    button.disabled = true;
                    clicks++;
                }
            }
        </script>
</body>
</html>