{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', path='/trial_style.css') }}" rel="stylesheet">
<!--<link href="{{ url_for('static', path='/footer.css') }}" rel="stylesheet">-->

<script src="{{ url_for('static', path='/cell_post.js') }}"></script>
<script src="{{ url_for('static', path='/random_matrix_get.js') }}"></script>
<script src="{{ url_for('static', path='/matrix_post.js') }}"></script>
<script src="{{ url_for('static', path='/start_game.js') }}"></script>
<script src="{{ url_for('static', path='/battle_log.js') }}"></script>
<script src="{{ url_for('static', path='/restart_game.js') }}"></script>
<script src="{{ url_for('static', path='/drag&drop.js') }}"></script>
<!--<script src="{{ url_for('static', path='/simple_placement.js') }}"></script>-->
<!--<script src="{{ url_for('static', path='/ship_placement.js') }}"></script>-->

{% endblock %}

{% block content %}
<main>
    <body>
    <section id="game-boards">
        <div class="boards-container">
            <div class="board player-board">
                <h2>Ваше поле</h2>
                <table  class="battlefield">
                    {% for i in range(10) %}
                    <tr>
                        {% for j in range(10) %}
                        <!-- Добавьте обработчик клика на каждую ячейку -->
                        <td data-matrix="{{ 'player' }}" data-i="{{ i }}" data-j="{{ j }}" data-value="{{ 0 }}" class="cell" ></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="board menu-board">
                <h2>Расставьте корабли</h2>
                <div id="ships-container" class="ships_container">
                    <li>
                        <div id="fourdeck1" class="ship" draggable="true" data-length="4" shipOrientation="horizontal"></div>
                        <div id="tripledeck1" class="ship" draggable="true" data-length="3" shipOrientation="horizontal"></div>
                        <div id="tripledeck2" class="ship" draggable="true" data-length="3" shipOrientation="horizontal"></div>
                    </li>
                    <li>
                        <div id="doubledeck1" class="ship" draggable="true" data-length="2" shipOrientation="horizontal"></div>
                        <div id="doubledeck2" class="ship" draggable="true" data-length="2" shipOrientation="horizontal"></div>
                        <div id="doubledeck3" class="ship" draggable="true" data-length="2" shipOrientation="horizontal"></div>
                    </li>
                    <li>
                        <div id="singledeck1" class="ship" draggable="true" data-length="1" shipOrientation="horizontal"></div>
                        <div id="singledeck2" class="ship" draggable="true" data-length="1" shipOrientation="horizontal"></div>
                        <div id="singledeck3" class="ship" draggable="true" data-length="1" shipOrientation="horizontal"></div>
                        <div id="singledeck4" class="ship" draggable="true" data-length="1" shipOrientation="horizontal"></div>
                    </li>
                </div>
            </div>
            <div class="board enemy-board">
                <h2>Поле противника</h2>
                <table class="battlefield">
                    {% for i in range(10) %}
                    <tr>
                        {% for j in range(10) %}
                        <!-- Добавьте обработчик клика на каждую ячейку -->
                        <td data-matrix="{{ 'enemy' }}" data-i="{{ i }}" data-j="{{ j }}" data-value="{{ 0 }}" class="cell"></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                </div>
            <div class="board log-board">
                <h2>Лог боя</h2>
                <div class="log-message">

                </div>
            </div>

        </div>
        </section>
        <section id="buttons-field">
            <div class="buttons-container">
                <ul class="buttons">
                    <li class="buttons__item buttons__item-firstChild">
                        <span class="buttons__inner">
                            <span class="buttons__title" id="randomPlacementButton" onclick="if(!this.classList.contains('disabled')) generateClickHandler('player')">Random Placement</span>
                        </span>
                    </li>
                    <li class="buttons__item">
                        <span class="buttons__inner">
                            <span class="buttons__title" onclick="restartGame()">Restart Game</span>
                        </span>
                    </li>
                    <li class="buttons__item buttons__item-lastChild">
                        <span class="buttons__inner">
                            <span class="buttons__title" id="startGameButton" onclick="if(!this.classList.contains('disabled')) start_game()">Start Game</span>
                        </span>
                    </li>

                </ul>
            </div>

        </section>
    </body>
</main>
{% endblock %}

{% block footer %}
<div>
  <ul>
    <li><a href="https://twitter.com/julesforrest">Twitter</a></li>
    <li><a href="https://codepen.io/julesforrest">Codepen</a></li>
    <li><a href="mailto:julesforrest@gmail.com">Email</a></li>
    <li><a href="https://dribbble.com/julesforrest">Dribbble</a></li>
    <li><a href="https://github.com/julesforrest">Github</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</div>
{% endblock %}